<h1>
    {% trans %}This is a test of the {{ plugin_name }} plugin{% endtrans %}
</h1>
<p>
    {% trans name=plugin_name, other_name="leaking" %}A {{ name }} translation with arguments.{% endtrans %}
</p>
<p>
    {% trans %}Another {{ other_name }} translation with arguments.{% endtrans %}
</p>
<p>
    {% trans count=1 %}
        A single horse.
    {% pluralize %}
        Many horses!
    {% endtrans %}
</p>
<p>
    {% trans count=[1,2,3]|length %}
        A single horse.
    {% pluralize %}
        Many horses!
    {% endtrans %}
</p>
